ion-list-header {
    font-weight: bold;
    margin-top: 16px;
  }
  
  ion-item {
    --padding-start: 8px;
    --inner-padding-end: 8px;
    margin-bottom: 8px;
    
    ion-checkbox {
      margin-right: 16px;
    }
  }
  
  .confirm-button {
    margin: 20px 0;
  }