<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Nuestros Menús</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-grid>
    <ion-row>
      @for (menu of menus; track menu.id) {
      <ion-col size="12" size-md="6" size-lg="4">
        <ion-card (click)="openMenuDetails(menu)" class="menu-card">
          <ion-img [src]="menu.img || 'assets/default-menu.jpg'" [alt]="menu.name"></ion-img>
          <ion-card-header>
            <ion-card-title>{{ menu.name }}</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <p>{{ menu.description }}</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
      }
    </ion-row>
  </ion-grid>
</ion-content>